{% extends 'brd_source.html' %}

{% block content %}

{% load static %}

<main>
    <div class="nav-all-cn">
     
        <div class="nav-all-items">
            <div class="logo-brd-god">
                <img src="{% static 'brd-images/logo_recortado.png' %}" alt="">
            </div>

            <nav>
                <ul>
                    <li><a href="/create-note">Registrar notas</a></li>
                    <li><a href="/notes/getnotes">Tus notas</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-landing">

            <div class="content-inside-landing">
                <div class="title-notes">
                    <img src="{% static 'brd-images/note-django-img.svg' %}" alt="">
                    <h1>El mundo de las Notas.</h1>
                </div>
                
                <p>
                    BRD Notes es un programa que te permite tomar notas de forma rápida y sencilla. Es ideal para estudiantes, profesionales o cualquier persona que necesite anotar información importante.
                </p>

                <div class="button-register"
                    <a href="/create-note">Registrar nota</a>
                    <img src="{% static 'brd-images/arrow-god.svg' %}" alt="">
                </div>
            </div>

        </div>


        <footer>
            <div>
                <img src="{% static 'brd-images/logo_recortado.png' %}" alt="">
            </div>

            <div class="links-footer">
                <p>Breadriuss</p>
                <p>About</p>
            </div>
        </footer>
    </div> 
</main>

{% endblock %}