{% extends 'brd_source.html' %} {% block content %}

{% load static %}

<div class="arroz-poems">
  
  <div class="poems-home">
    <h1>🎉 Tus poemas</h1>

    <span><a href="/">Home</a></span>
  </div>

  <div class="list-poems">

    <ul class="list-all-poems">

      {% for note in notes %}

      <div class="container">
        
        <div class="content-poem">
            <img src="{% static 'brd-images/bolt-img.svg' %}" alt="">
            <h2 class="ellipsis">{{ note.nota_author }}</h2>
        </div>
        
        <div class="all-poem">
            <textarea readonly="true" name="poema-god" rows="10" spellcheck="false">{{ note.note_content }}</textarea>
        </div>

        <div class="poem-see">
          <a href="{% url 'notedetail' note.id  %}">Ver más...</a>
        </div>

      </div>

      {% endfor %}

    </ul>

    
    

  </div>
</div>

{% endblock %}
