{% extends 'brd_source.html' %} {% block content %}

<div class="arroz-poems">
  <div class="">
    <h1>🎉 Tus poemas</h1>

    <span></span>
  </div>

  <div class="list-poems">

    <ul class="list-all-poems">

      {% for note in notes %}

      <div class="container">
        
        <div class="content-poem">
            <h2>{{ note.nota_author }}</h2>

            
            <textarea name="poema-god" cols="10" rows="30">
              {{ note.note_content }}
            </textarea>
        </div>

        <div>
          <p><a href="{% url 'notedetail' note.id  %}">Ver más...</a></p>
        </div>

      </div>

      {% endfor %}

    </ul>

    
    

  </div>
</div>

{% endblock %}
